<h1>Error 404. Recurso no encontrado</h1>
<a  href="/">Volver a la portada</a>
<div style="background-color:white" >
<img src="https://pixabay.com/static/uploads/photo/2016/04/24/13/24/error-1349562_960_720.png">
</div>