<script> var nodesToClip = new Array();
$(document).ready(function(){
  function ocultaClip(){
  $('#clipNow').hide();

};

function ocultaClean(){
  $('#clearListSelected').hide();

}

function revelaClean(){
  $('#clearListSelected').show();

}

function revelaClip(){
  $('#clipNow').show();

}

})

</script>
<!-- es como el root scope -->
<%= render "data/modalForm" %>
<div id="clipView">
<div id="tree_div" class="col-sm-6 col-md-6 ">
  <div id="tree">
    <!-- Seleccionar tablas para clipping -->
    <%= render "data/tree_clip", name: "Mapa de datos" %>
  </div>
</div>
<div id="tree_listSelected" class="col-sm-6 col-md-6 pull-right">
  <div class="list-group" id="listSelected">


  </div>
</div>
  <br/>
  <br/>
  <br/>
  <div class="row">
  <span class="col-md-3">
  <button id="clipNow" class="btn btn-info center-block" >Intersecta</button>
  </span>
  <span class="col-md-3">
  <button id="clearListSelected" class="btn btn-danger center-block">Limpiar todo</button>
  </span>
  </div>

</div>