<script> var nodesToClip = new Array();

</script>
<!-- es como el root scope -->
<%= render "data/modal" %>
<%= render "data/modalForm" %>
<div id="clipView">
  <div id="tree_listSelected" class="col-sm-6 col-md-6">
    <label class="control-label">Nombre de la nueva capa</label>
    <input class="form-control" id="layerName" type="text">
    <div class="list-group" id="listSelected">

    </div>
  </div>
<div id="tree_div" class="col-sm-6 col-md-6 pull-right">
  <div id="tree">
    <!-- Seleccionar tablas para clipping -->
    <%= render "data/tree_clip", name: "Mapa de datos" %>
  </div>
</div>

  <br/>
  <br/>
  <br/>
  <div class="row">
  <span class="col-md-3">
  <button id="clipNow" class="btn btn-info center-block" >Intersecta</button>
  </span>
  <span class="col-md-3">
  <button id="clearListSelected" class="btn btn-danger center-block">Limpiar todo</button>
  </span>
  </div>

</div>
<script>

  $('#clipNow').hide();
  $('#clearListSelected').hide();
</script>