<%= render "data/modal" %>
<h2>Cargar datos</h2>
<div class="col-sm-6 col-md-6 ">
<%= render "data/form", name: "Carga de datos" %>

</div>
<div id="tree_div" class="col-sm-6 col-md-6 pull-right">
  <br/>
  <br/>
  <div id="tree">
  <%= render "data/tree", name: "Mapa de datos" %>
  </div>
</div>
