<header>
<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img id="logoNavBar" src="/logo1.png" width="50px" class="pull-left"></img><a class="navbar-brand" href="#">
      <img id="logoNavBar" src="/logoname.png" width="80px" class="pull-left"></img></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/data/new">Introducir datos</a></li>
        <li><a href="/data/clipper">Clipper</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
          <li><a href="/info#geoclipper">¿Qué es Geoclipper?</a></li>
          <li><a href="/info#about">About me</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
</header>